import psycopg2
conn = psycopg2.connect(
    host="35.247.185.45",
    database="ezjob",
    user="lamtnb",
    password="Abc123")
print("Database opened successfully")
cur = conn.cursor()
cur.execute("SELECT * from work limit 10")
rows = cur.fetchall()
print(rows)
conn.close()
